@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Cinzel|IBM+Plex+Mono");

.App {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Cinzel", serif;
}

.App-header {
  background-image: url("./dinopic.jpg");
  height: 14rem;
  padding: 10px;
  color: white;
  font-size: 2em;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
select {
  height: 2.25rem;
  border-color: black;
  font-size: 0.5em;
  border-width: 2px;
}

.searchbox-container {
  padding-bottom: 2rem;
  padding-top: 3rem;
}

.dino-container {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("./sunset.jpg");
  background-size: "cover";
  height: "35rem";
  display: flex;
  color: whitesmoke;
}
.dino-unit{
  /* margin:auto;
  width: 95%; */
  display: inline-block;
  justify-content: center;
}
.single-dino {
  text-align: left;
}

.dino-image {
  width: 9em;
  height: 6em;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
