@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Cinzel|IBM+Plex+Mono");

body{
  margin:0;
  padding:0;
}
.App {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Cinzel", serif;
 
}

.App-header {
  background-image: url("./dinopic.jpg");
  height: 14rem;
  color: white;
  font-size: 2em;
  width: 100%;
  background-repeat: no-repeat;
}

.App-title {
  font-size: 1.5em;
  margin-top: 0.25em;
}

.App-intro {
  font-size: large;
}
select {
  height: 2.25rem;
  border-color: black;
  font-size: 0.5em;
  border-width: 2px;
}

.searchbox-container {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.dino-container {
  width: 98%;
  /* background-repeat: no-repeat; */
  background-size: 100%;
  background-image: url("./sunset.jpg");
  background-size: "cover";
  height: "70rem";
  display:grid;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
  /* display: flex;
  flex-direction: row; */
  color: whitesmoke;
  margin:auto;
  margin-top:1em;
  padding:auto;
  flex-wrap: wrap;
  justify-content: space-between;

  /* margin:20px; */
}
.dino-unit{
  /* margin:auto;
  width: 95%; */
  display: inline-block;
  justify-content: center;
}
.single-dino {
  text-align: left;
  margin:auto;
  padding-left: 2em;
}

.dino-image {
  width: 9em;
  height: 6em;
  margin-left: 10px;

}

h3{
  margin:auto;
  margin-left: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
